<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>69858678599-12bkffd8h9m903loefhreok413lsmfej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69858678599-12bkffd8h9m903loefhreok413lsmfej</string>
	<key>API_KEY</key>
	<string>AIzaSyBTVgf3X-Q_3ygAcY7Ujt46io9c-8NJL-g</string>
	<key>GCM_SENDER_ID</key>
	<string>69858678599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.bstu-service</string>
	<key>PROJECT_ID</key>
	<string>bstu-service</string>
	<key>STORAGE_BUCKET</key>
	<string>bstu-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69858678599:ios:f4b80991c6312468</string>
	<key>DATABASE_URL</key>
	<string>https://bstu-service.firebaseio.com</string>
</dict>
</plist>